* {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  margin-top: 70px;
  background-color: grey;
  border: 1px solid white;
  border-radius: 10px;
  width: 400px;
  height: auto;
}

#display {
  background-color: black;
text-align: end;
  color: orange;
  margin: 5px;
  border: solid 1px white;
  border-radius: 10px;
  padding: 5px;
  height: 45px;
}

#display1 {
  color: white;
  font-size: x-large;
}


#bottom {
  margin: 5px;
  /* border: solid 1px black; */
  height: 535px;
  display: grid;
  gap: 1px;
  text-align: center;
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one two three equals"
    "zero zero decimal equals";
}

#zero {
  grid-area: zero;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#zero:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#one {
  grid-area: one;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#one:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#two {
  grid-area: two;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#two:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#three {
  grid-area: three;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#three:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#four {
  grid-area: four;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#four:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#five {
  grid-area: five;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#five:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#six {
  grid-area: six;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#six:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#seven {
  grid-area: seven;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#seven:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#eight {
  grid-area: eight;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#eight:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#nine {
  grid-area: nine;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#nine:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#add {
  grid-area: add;
  background-color: gray;
  color: white;
  border-radius: 5px;
}

#add:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#subtract {
  grid-area: subtract;
  background-color: gray;
  color: white;
  border-radius: 5px;
}

#subtract:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#multiply {
  grid-area: multiply;
  background-color: gray;
  color: white;
  border-radius: 5px;
}

#multiply:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#divide {
  grid-area: divide;
  background-color: gray;
  color: white;
  border-radius: 5px;
}

#divide:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#decimal {
  grid-area: decimal;
  background-color: darkslategray;
  color: white;
  border-radius: 5px;
}

#decimal:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#clear {
  grid-area: clear;
  background-color: red;
  color: white;
  border-radius: 5px;
}

#clear:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#equals {
  grid-area: equals;
  background-color: steelblue;
  color: white;
  border-radius: 5px;
}

#equals:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}


.num {
  font-weight: bold;
  border: none;
}